header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.header__center nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #3d3d3f;
  padding: 16px 10px;
}
.header__center nav a:hover {
  background: linear-gradient(
    2.79deg,
    #f35f2f -13.68%,
    rgba(243, 95, 47, 0.75) 121.16%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__center nav:hover {
  display: inline-block;
  transform: scale(1.3);
  transition: all ease 0.3s;
}
.header__center {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 60px;
}
.header__right button {
  background: linear-gradient(
    2.79deg,
    #f35f2f -13.68%,
    rgba(243, 95, 47, 0.75) 121.16%
  );
  opacity: 0.85;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 24px;
  color: #ffffff;
}
.header__right button:hover {
  box-shadow: 5px 5px 4px #f35f2f;
  background: linear-gradient(
    2.79deg,
    #f35f2f -13.68%,
    rgba(243, 95, 47, 0.75) 121.16%
  );
  opacity: 0.85;
  border-radius: 5px;
  display: inline-block;
  transform: scale(1.1);
  transition: all ease 0.3s;
}
@media only screen and (max-width: 640px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }
  .header__center nav a {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3d3d3f;
    padding: 12px 10px;
  }
  .header__center {
   display: none;
  }
  .header__right button {
    background: linear-gradient(
      2.79deg,
      #f35f2f -13.68%,
      rgba(243, 95, 47, 0.75) 121.16%
    );
    opacity: 0.85;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 16px;
    color: #ffffff;
  }
  .sitelogo{
    width: 112px;
    height: 22px;
  }
}