.card3 {
  background: linear-gradient(
    138.88deg,
    rgba(254, 254, 254, 0) -2.44%,
    #f9f9f9 -2.43%,
    rgba(254, 254, 254, 0.51) 98.26%
  );
  border: 1px solid #eeeff1;
  filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
}
